<div>
	<div class="ellipse ellipse-570">
		<div class="dark">
		</div>
  </div>

	<div class="ellipse ellipse-567">
		<div class="dark">
		</div>
	</div>
	<div class="ellipse ellipse-565">
		<div class="dark">
		</div>
	</div>

	<div class="ellipse ellipse-568">
		<div class="dark">
		</div>
	</div>
	
	<div class="ellipse ellipse-566">
		<div class="dark">
		</div>
	</div>
	
	<div class="ellipse ellipse-564">
		<div class="dark">
		</div>
	</div>
</div>



<style is:global>
html[data-theme='light'] .ellipse > .dark {
	display: none;
}

html[data-theme='dark'] .ellipse > .light {
	display: none;
}

.ellipse-570 div {
	width: calc(100vh * 0.21);
	height: calc(100vh * 0.21);
	border-radius: 50%;
}

.ellipse-570 .dark {
	background: linear-gradient(180deg, rgba(151, 71, 255, 0.51) 0%, rgba(38, 166, 154, 0.51) 100%);
	filter: drop-shadow(0px 4px 93px rgba(0, 0, 0, 0.23));
}

.ellipse-567 div {
	width: calc(100vh * 0.06);
	height: calc(100vh * 0.06);
	border-radius: 50%;
}

.ellipse-567 .dark {
	background: linear-gradient(180deg, #212226 0%, #9747FF 217%);
	filter: drop-shadow(0px 4px 93px rgba(0, 0, 0, 0.23));
}

.ellipse-565 div {
	width: calc(100vh * 0.03);
	height: calc(100vh * 0.03);
	border-radius: 50%;
}

.ellipse-565 .dark {
	background: #244153;
	filter:  drop-shadow(0px 4px 93px rgba(0, 0, 0, 0.23));
}

.ellipse-568 div {
	width: calc(100vh * 0.06);
	height: calc(100vh * 0.06);
	border-radius: 50%;
}

.ellipse-568 .dark {
	background: linear-gradient(180deg, rgba(84, 200, 183, 0.05) 0%, rgba(151, 71, 255, 0.05) 100%);
	filter:  drop-shadow(0px 4px 93px rgba(0, 0, 0, 0.23));
}

.ellipse-566 div {
	width: calc(100vh * 0.21);
	height: calc(100vh * 0.21);
	border-radius: 50%;
}

.ellipse-566 .dark {
	background: linear-gradient(180deg, rgba(84, 200, 183, 0.05) 0%, rgba(151, 71, 255, 0.05) 100%);
	filter: drop-shadow(0px 4px 93px rgba(0, 0, 0, 0.23));
}

.ellipse-564 div {
	width: calc(100vh * 0.08);
	height: calc(100vh * 0.08);
	border-radius: 50%;
}

.ellipse-564 .dark {
	background: linear-gradient(180deg, rgba(151, 71, 255, 0.51) 0%, rgba(38, 166, 154, 0.51) 100%);
	filter: drop-shadow(0px 4px 93px rgba(0, 0, 0, 0.23));
}

.ellipse {
	position: absolute ;
	z-index: -1;
}

.ellipse-570 {
	top:  calc(100vh * 0.53);
	left: calc(100vh * -0.1);
}

.ellipse-567 {
	top:  calc(100vh * 0.02);
	left: calc(100vw * 0.22);
}

.ellipse-565 {
	top:  calc(100vh * 0.21);
	left: calc(100vw * 0.54);
}

.ellipse-568 {
	top:  calc(100vh * 0.09);
	left: calc(100vw * 0.86);
}

.ellipse-566 {
	top:  calc(100vh * 0.47);
	left: calc(100vw * 0.8);
}

.ellipse-564 {
	top:  calc(100vh * 0.96);
	left: calc(100vw * 0.9);
}
</style>
