a {
  font-weight: 600;
}

h2 a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

/* dark mode */
:root,
::backdrop {
  --sl-color-text-accent: #6fe7c4;
}

/* light mode */
:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  --sl-color-text-accent: #244153;
}
