.main-content {
  width: calc(100vw - 70px);
}

.articles-container > div {
  width: calc(calc(100vw - 220px - 48px - 48px) / 3);
}

.fresh-blogs > div {
  margin-bottom: 52px;
  width: calc(1020px / 2 - 64px);
}

.easy_carousel-dots {
  justify-content: center !important;
}

.easy_card-media img {
  border-radius: 12px;
}

.carousel-test {
  width: calc('auto' - 20px);
}

.react-select__dropdown-indicator {
  display: none !important;
}

.easy_card {
  overflow: hidden;
}

.easy_card-content {
  height: 100%;
}

.fixed-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
